

/* RESETS */
html{
    font-size: 100%;
    
}
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
}
/* END RESETS */
/* variables */
:root{
    --soft-orange: 35,77%,62%;
    --soft-red:5, 85%, 63%;
    --Off-white:36, 100%, 99%;
    --grayish-blue:233, 8%, 79%;
    --dark-grayish-blue:236, 13%, 42%;
    --dark-blue:240, 100%, 5%;
    --ff:'Inter', sans-serif;
  
    --reg:400;
    --semi-bold:700;
    --bold:800;
    font-size: 15px;
    /* 5.96rem/89.41px
A Visual Type Scale
4.768rem/71.53px
A Visual Type Scale
3.815rem/57.22px */
    --fs-6:3.052rem;
    --fs-5:2.441rem;
    --fs-4:1.953rem;
    --fs-3:1.563rem;
    --fs-2:1.25rem;	
    --fs-1:1.15rem;	
    
}
/* END  variables */

/* BASE */
body{
    /* height: 100vh; */
    font-family: var(--ff);
    padding: 1.5rem;
    overflow-x: hidden;

 position: relative;

  
} 

p{
    font-size: var(--fs-1);

  
}
img{
    width: 100%;
   

}
a{
    text-decoration: none;
    color: hsl(var(--dark-blue));

}
a:hover{
   
    color:hsl( var(--soft-orange))
    
}
/* END BASE */


/* UTIL CLASSES */
/* .hidden{
    display: none;
} */
.bg-accent-red{
    background-color: hsl(var(--soft-red));
}
.bg-accent-darkblue{
    background-color: hsl(var(--dark-blue));
}
.text-accent-darkblue{
    color: hsl(var(--dark-blue));
}
.text-accent-orange{
    color: hsl(var(--soft-orange));
}
.text-accent-gray{
    color: hsl(var(--dark-grayish-blue));
}
.text-accent-white{
    color:hsl( var(--Off-white));
}

.text-md{
    font-size: var(--fs-3);
}
.text-lg{
    font-size: var(--fs-5);
    width: 70%;
    overflow-wrap: break-word;
  
    
}
.reg{
    font-weight: var(--reg);
}
.semi-bold{
    font-weight: var(--semi-bold);
}
.bold{
    font-weight: var(--bold);
}
.gap-25{
    gap: 1.5625rem;
}
.gap-50{
    gap: 3rem;
}

.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}

.border{
    border: solid 1px red;
}

.my{
    margin: 1.533rem 0;
    
}
.mb{
    margin-bottom: 1.5rem;
}
.section-seperator{
    margin: 5.75rem 0;
}
.type-fix{
    word-spacing:.275rem ;
    overflow-wrap: break-word;
    
    line-height: 1.75rem;
   

}
.border-y{
    border-top: solid white 1px;
    border-bottom: solid white 1px;
}
.py{
    padding: 1.5rem 0 ;
}
/* END UTIL */

/* Custom CSS */
.overlay::before{
  
    position: absolute;
    z-index: 777;
    content:"";
    height:100vh;
    width:100vw;
    background-color: rgba(0,0,0,0.5);

}

.remove-scroll{
    overflow: hidden;
}
.header{
    
    /* grid-column: 1/-1; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.3333rem;
    position: relative;
  
}
nav{
    
    background-color: hsl( var(--Off-white));
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    height: 100vh;
    width: 65%;
    position: absolute;
    right: -10%;
    top:-30%;
    padding-left: 2rem;
    transform: translateX(100%);
    transition: .3s ease-in;
    z-index: 888;
   

}
.nav-links-container{
    height: 100%;
   
    flex-direction: column;
    justify-content: center;
  
    list-style: none;
    gap: 2rem;
  
}
li{
    font-weight: var(--semi-bold);
}
.toggle-nav{
    transform: translateX(0);
    transition: .3s ease-in;
}

.hamburger{
    z-index: 999;
}
.container{
    /* grid-column:1/-1; */
   
}
.section1__button{
padding:1.25rem 3rem;
letter-spacing: .275rem;
border: none;
}
.section2{
    padding: 1.5rem;
    
}

.section3 article img{
    width: 30%;
    

}
.section3__content{
gap:1rem;
}
.section3__content span{
    font-size: var(--fs-6);
    opacity: .3;
}

/* **
MEDIA QUERIES
** */
/* tablet media query */
@media (min-width:33rem){
 
}
/* desktop media query */
@media (min-width:46rem){
  
  main{
    display: grid;
gap: 3rem;
        /* grid-template-columns: repeat(3,1fr);
    
  */

      
        grid-template-areas:
"head head head"
"sec1 sec1 sec2"
"sec3 sec3 sec3"; 
  }
  .header{
    grid-area: head;

    grid-column: 1/-1;
  }
  nav{
    
    /* background-color: hsl( var(--Off-white)); */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    height: 100%;
    width: 65%;
    position: relative;
    right: 0;
    top:0;
    padding-left: 0;
    transform: translateX(0%);
    transition: .3s ease-in;
    z-index: 888;

    

}
.nav-links-container{
    height: 100%;
   
    flex-direction: row;
    justify-content: end;
    align-items: center;
  
    list-style: none;
    gap: 2rem;
  
}
li{
    font-weight: var(--reg);
}


.hamburger{
    display: none !important;
    z-index: 999;
}
  .section1{
    /* grid-column: 1/-1; */

  
    grid-area: sec1;
    width: 100%;

  }
  .section1-article{
    margin-top: 2rem;
    display: flex;
    gap:2rem;
    justify-content: space-between;
  }
  .section1-article div{
    width: 75%;
    
  }
  .section1-article h1{
    font-size: 4rem;
    
  }
  .section1__button{
    padding:1.25rem 3rem;
    letter-spacing: .275rem;
    border: none;
    font-size: 1.25rem;
    }
  .section2{
    /* grid-column: 2/-1; */
    justify-self:end;
    align-items: center;
grid-area: sec2;
/* width: 84%; */
  }
  .section2 article{
padding: 1.5rem 0;

  }
  .section2 article p{
    padding-top: 10px ;
    /* border: solid red; */
    
      }
  img{
    height: 100%;
  }
  
.section3{
   
    grid-area: sec3;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.section-seperator{
    margin:  0;

}
/* .section3 article{
    width: 100%;
    

} */
.my{
    margin: 0;
}
}